{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2>Edit Comment</h2>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-12">
		<form id="editForm" method="post">
			<div class="row">
				<div class="col-md-12">
					<textarea class="textarea-post" name="content"
					placeholder="OMG! The best post I have ever seen...">{{content}}</textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 error">{{error}}</div>
			</div>
		</form>

		<form id="cancelForm" action="/" method="get"></form>

		<div class="row">
			<div class="col-md-10 text-right">
				<button form="cancelForm" class="btn btn-default default-font-size">
					Cancel
				</button>
			</div>
			<div class="col-md-2 text-right">
				<button form="editForm" class="btn btn-primary default-font-size">
					Submit
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}